<link rel="stylesheet" type="text/css" href="${request.contextPath}/css/main.css" />
<script type="text/javascript" src="${request.contextPath}/js/main.js"></script>
<script type="text/javascript" src="${request.contextPath}/js/jobsubmit.js"></script>
<form id="appman-action-form" action="$actionURL" method="post" style="display:none"></form>

<div class="portlet-font">
#if($error)
<div class="portlet-msg-error">
Error: $error
</div>
<p>
#end

<form id="appman-delete-job-form" action="$actionURL" method="post">
<fieldset class="appman"><legend class="portlet-form-label">Lista de tarefas em execução</legend>
	<table class="portlet-section-body">
		<tr>
			<th colspan="2"><input type="checkbox" id="appmanJobSubmitCheckAllJobIds" onclick="checkAppmanJobSubmitCheckAllJobIds()"> Identificador</th>
			<th>Tarefa</th>
			<th>Usuário que submeteu</th>
			<th>Data de início</th>
			<th>Data de término</th>
			<th>Status</th>
			<th>Sucesso</th>
		</tr>
#foreach($job in $jobs)
		<tr>
			<td><input type="checkbox" name="jobId" value="$job.id" running="#if($job.dtStart && !$job.dtEnd)Y#end"/></td>
			<td>$job.id</td>
			<td>$job.file</td>
			<td>$job.userName</td>
			<td>$!{date.format('dd/MM/yyyy HH:mm:ss', $job.dtStart)}</td>
			<td>$!{date.format('dd/MM/yyyy HH:mm:ss', $job.dtEnd)}</td>
			<td>$!job.status</td>
			<td>#if($job.success == "Y")Sim#elseif($job.success == "N")Não#end</td>
		</tr>
#end
	</table>
</fieldset>
</form>
<fieldset class="appman">
	<legend class="portlet-form-label">Ações</legend>
	<ul style="margin-bottom: 0px; margin-top: 0px">
		<li>
			<a href="#" onclick="executeAction('NewJob');return false">Nova tarefa</a>
		</li>
		<li>
			<a href="#" onclick="executeAction('ShowView');return false">Atualizar status</a>
		</li>
		<li>
			<a href="#" onclick="appmanJobSubmitViewRemoveCheckedJobs();return false">Remover tarefas marcadas</a>
		</li>
		<li>
			<a href="#" onclick="executeAction('ShowHelp');return false">Informações</a>
		</li>
	</ul>
</fieldset>
</div>
